body {
  text-align: center;
}

h1 {
  text-align: center;
  margin: auto;
  padding: 10px;
  width: 50%;
}

.card-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  text-align: center;
  margin: auto;
  padding: 10px;
  width: 95%;
}

.card {
  text-align: center;
  width: 15%;
  font-size: 15px;
}

.card-title {
  font-size: 24px;
}
